p.input_text {
    font-size: 18pt;
    padding: 0;
}

p.welcome_text {
    text-align: center;
    font-size: 25pt;
    padding: 3%;
    padding-bottom: 0;
}

p#username {
    position: absolute;
    top: 180px;
    right: 180px;
}

p#password {
    position: absolute;
    top: 320px;
    right: 180px;
}