table.t1,th.t1,td.t1 {
           background-color:rgb(255, 206, 133);
           border: 1px solid black;
           border-collapse: collapse;
           font-size: 130%;
           font-family: ¼Ð·¢Åé;
           padding: 3px;
}

tr.t1 {
           background-color: rgb(255, 206, 133);
           color: black;
} 
