/* menu(navbar) set position */

.menu {
    right: 0;
}

.navbar {
    top: 60px;
    float: right;
}

button.navbar-toggler {
    right: 0;
}

ul.menu-list>li {
    padding: 0 30px;
}


/* --------------- */


/* menu style set */

.menu-list>li.nav-item>a.nav-link {
    font-family: fanta;
    font-size: 13pt;
}

.menu-list>li>.nav-link,
.menu-list>a {
    color: white;
}

.menu-list>li>a:hover:not(.disabled) {
    color: rgb(241, 238, 238) !important;
    background-color: rgba(0, 41, 128, 0.13);
    box-shadow: 1px 1px 13px 6px red;
    border: 1px solid red;
    cursor: pointer;
    transition: all 0.3s;
}


/* --------------- */

@media (max-width: 965px) {
    .navbar-collapse {
        background-color: #ce0202;
        border: 5px double black;
        color: black;
        z-index: 9999;
        margin-top: 12px;
        min-width: 200px;
        max-width: 250px;
    }
    .navbar-collapse>ul {
        margin-left: 20px;
    }
}


/* dropdown content style set */

.dropdown-menu {
    border: 2px solid rgb(255, 0, 0);
    top: 55px;
    right: 0;
    left: auto;
    background-color: black;
}

.dropdown-divider {
    margin-left: 11%;
    width: 70%;
    border-color: darkgrey;
}

.section {
    color: darkgrey;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 10px;
}


/* --------------- */