#start:hover,
#stop:hover {
    background-color: #007bff;
    color: white;
    transition: all 0.2ms;
}

.rotateR {
    animation: rotateR 1s linear infinite;
}

.rotateS {
    animation: rotateS 1s linear infinite;
}

@keyframes rotateR {
    to {
        transform: rotate(360deg)
    }
}

@keyframes rotateS {
    to {
        transform: rotate(-360deg)
    }
}