/* defines all the svg and body image in the div block */

div.bodyparts {
    margin: 10px;
    margin-left: 100px;
    width: 400px;
    height: 400px;
    padding: 0 auto;
}


/* --------------- */


/* defines the alltogether properties for all the svg paths */

g.areas {
    fill: transparent;
    stroke: transparent;
}


/* --------------- */


/* hover effect for svg paths */

g:hover {
    fill: url(#Red);
    cursor: pointer;
    stroke: red;
    stroke-width: 4px;
}


/* --------------- */


/* defines the size and position for aligning svg and the body image */

svg.bodyparts {
    position: absolute;
    top: 37px;
    left: 24px;
    width: 417px;
    height: 370px;
}

img.bodyimage {
    z-index: -1;
    width: 400px;
    height: 400px;
    outline: 10px double rgb(190, 21, 9);
}


/* --------------- */