.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgb(0, 0, 0);
}

#info-block {
    outline: 10px double rgb(190, 21, 9);
    background-color: #e9ecf1;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    padding-top: 0;
    width: 400px;
    height: 400px;
    min-width: 400px;
}

.muscle_title {
    font-weight: bold;
}

@font-face {
    font-family: 'Fanta';
    src: url(../font/DeathStar-VmWB.ttf);
}