body {
    background-image: url(../images/background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    font-family: 'Noto Serif TC', serif;
}

#input_form {
    text-align: right;
}

#shadow_block {
    opacity: 0.65;
    background-color: white;
    box-shadow: 8px 8px 12px 5px black;
}

.back_block {
    border-radius: 30pt;
    position: absolute;
    width: 900px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: 16%;
    margin-right: 14%;
}

#username {
    top: 260px;
    right: 180px;
    padding-left: 2pt;
}

#password {
    top: 395px;
    right: 180px;
    padding-left: 2pt;
}

.press#username {
    position: absolute;
    top: 260px;
    left: 181px;
}

.press#password {
    position: absolute;
    top: 392px;
    left: 181px;
}

.input_box {
    position: absolute;
    width: 300px;
    height: 50px;
    font-size: 18pt;
    color: black;
    background-color: transparent;
    /**/
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 4px;
    border-color: black;
}

.input_box_container {
    position: absolute;
    top: 260px;
    right: 180px;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    opacity: 0.3;
}

.press {
    width: 150px;
    height: 50px;
    color: black !important;
    font-size: 15pt;
    background: transparent;
    padding: 10px;
    border: 4px solid #18b461 !important;
    border-radius: 6px;
    transition: all 0.2s ease 0s;
}

.press:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}